
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #ffffff;
  color: #111;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
}

h1, h2, h3 {
  text-transform: lowercase;
}

a {
  text-decoration: none;
  color: #111;
}